.addbutton{
    --padding-start: 0px;
    ion-icon{
        color: #2ed400;
        margin: auto;
    }
}
ion-spinner{
    width: 100px !important;
    height: 100px !important;
}
.centerspinner{
    top:50%;
    left:50%;
    position: fixed;
    transform: translate(-50%, -50%);
}

ion-header{
    user-select: none;
}

ion-list-header{
    user-select: none;
}